body {
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#main-header {

    background-color: hsl(270, 68%, 40%);
    color: white;
    font-size: small;
    text-align: start;
}

h1 {
    margin-block: 0;
    padding: 20px;
}

#menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-icons{
    width: 50px;
    border-radius: 50%;
}

#channels {
    width: 100%;
    text-align: left;
    padding: 0;
}

#log{
    background-image: linear-gradient(
    to bottom,
    rgb(248 129 189 / 80%),
    rgb(253 181 217 / 50%)
  ), url(/resources/images/background.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    display: none;
    height: 100%;
    overflow-y: auto;

}

#chat-wrapper{
    height: -webkit-fill-available;
}

#chat-header{
    background-color: #FF3EA5;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: row;
}

#chat-header h2{
    margin: 0;
    padding: 20px;
}

#chat-header img{
    height: 15px;
    padding: 20px;
    margin: 7px;
}

#home-log p {
    display: inherit;
} 

#question {
    display: none;
    background-color: white;
    padding:20px;
    width: fit-content;
    border-radius: 10px 10px 10px 0px;
    margin: 10px 10px 0px 10px;
}

#answer{
    max-width: 70%;
    text-align: left;  
    float: inline-end;
    margin: 10px 10px 70px 10px;
    display: none;
    flex-direction: column;
    align-items: end;
    background-color: hsl(331, 100%, 96%);
    padding:20px;
    border-radius: 10px 10px 0px 10px;
}

#projects-log p {
    display: inherit;
}

#contact-log p {
    display: inherit;
}

#input-bar{
    position: fixed;
    bottom: 0;
    background-color: white;
    margin: 0;
    padding: 20px;
    width: 100%;
    text-align: left;
    display: none;
}

ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.channel {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.channel-preview {
    border-bottom: 0.1px solid grey;
    width: 100%;
}

img {
    padding: 10%;
}

.slideup {
    animation-duration: 0.5s;
    animation-name: slideup;
}

@keyframes slideup {
    from {
      margin-top: 100%;

    }
  
    to {
      margin-top: 0%;

    }
  }